.discover-box {
    margin-top: 5px;
    margin-bottom: 5px;
}

.discover-box h3{
    margin-bottom: 1px;
}

.discover-box .social-media ul {
    display: inline-flex;
}

.sm-item {
    margin-left: 4px;
    margin-right: 4px;
}