.logo-name-company {
    display: inline-flex;
    align-items: center;
}

.logo{
    padding-right: 4px;
    padding-left: 4px;
}

.name-company {
    padding-right: 4px;
    padding-left: 4px;
}

    .name-company h2 {
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: .2em;
    }