.company-profile {
    padding: 12px 24px;
    color: inherit;
}

    .company-profile-title {
    }

    .company-profile-info p{
        line-height: 19px;
        font-size: 12px;
    }

        @media (min-width: 768px) {
            .company-profile{
                width: calc(50% - 56px);
                margin-right: 8px;
            }
            .cart-service {
                width: 320px;
                margin-right: 8px;
            }
        }

        @media (min-width: 1200px) {
            .company-profile{
                width: calc(33% - 52px);
                margin-right: 8px;
            }
            
        }
