.about-wrap{
    background-color: white;
    color: black;
}

.about-wrap .aw-container{
}

.about-wrap .aw-container .aw-row{
    display: flex;
    flex-direction: column;
}

.about-wrap .aw-container .aw-row .info-us{
}

.about-wrap .aw-container .aw-row .title{
    text-align: center;
}

@media (min-width: 768px) {
    .about-wrap .aw-container .aw-row .info-us{
        display: flex;
        flex-direction: column;
    }
}