.wrap-header{
    background-color: rgb(20, 80, 201);
}

.wrap-header .container {
    padding: 0px 18px
}

.wrap-header .container .row {
    display: flex;
    align-items: center;
}

.item-lc {
    flex-grow: 1;
}

.item-nh {
    flex-grow: 0;
}

    .menu-mobile {
        display: block;
    }

    .menu-desktop {
        display: none;
    }

@media screen and (min-width: 800px) {
    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: block;
    }
}

