.app-footer {
    background-color: rgb(20, 80, 201);
    margin-top: auto;
}

    .item-footer {
        margin: 18px 12px;
        text-align: center;
    }

    .app-footer .app-footer-container{
        display: flex;
        padding: 33px 33px 60px 33px;
        justify-content: center;
        flex-direction: column;
    }

    .main-area {
        text-align: justify;
    }

    

@media (min-width: 768px){
    .app-footer .app-footer-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .item-footer {
        width: calc(33% - 24px);
    }
}
