.app-footer {
    background-color: rgb(20, 80, 201);
    padding: 18px;
    text-align: center;
}

    .item-footer {
        margin: 8px 8px 48px 8px;
    }

    .main-area {
        text-align: justify;
    }

    

